body {
  font-family: "PressStart2P-Regular";
  line-height: 1.5;
  font-size: 18px;
}

.title {
  font-size: 24px;
}
.subtitle {
  font-size: 20px;
}

.font-sm {
  font-size: 16px;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
